  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {

    /* colors */
    --body-bg-color: #ffffff;
    --sidebar-bg-color:#ECF8F6 ;
    --text-color: #333333;
    --title-color: #18534F;
    --date-color: #08C5D1;
    --dark-body-bg-color:#4e4f4d     ;
    --dark-sidebar-bg-color:#27352A   ;
    --dark-text-color: #d8d8d8;
    --dark-title-color: #82C46C;
    --dark-date-color: #08C5D1;

    --icon-color: #18534F;
    --circle-color: #B0B9A8;
    --circle-color-plain: #18534F;
    --dark-icon-color: #82C46C;
    --dark-circle-color: #ECF8F6;
    --dark-circle-color-plain: #82C46C;


    /* fonts */
    --body-font: "Poppins", "Sans-serif";
    --h1-font-size: 1.7rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.1rem;
    --h4-font-size: 1rem;

    /* helpers */
    --spacing-1: .4rem;
    --spacing-2: .8rem;
    --spacing-3: 1.2rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);
  font-weight: 200;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

.dark {
  color: var(--dark-text-color);
  background-color: var(--dark-body-bg-color);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--dark-title-color);
}

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--spacing-4);
  color: var(--text-color);
}

.VValentin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe {
  border: none;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark button {
  color: var(--dark-text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.dark a {
  color: var(--dark-text-color);
}

p {
  margin-bottom: var(--spacing-2);
}

ul {
  padding-left: 1.3rem;
}

li {
  margin-bottom: var(--spacing-2);
}

/* helpers spacing */

.mb3 {
  margin-bottom: var(--spacing-3);
}

.mb5 {
  margin-bottom: var(--spacing-5);
}

/* grids */

.grid__row {
  margin: var(--spacing-3);
}

@media screen and (min-width:768px) {
  .grid__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
  .grid__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
}
}

/* layouts */

.sidebar {
  position: relative;
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
}

.sidebar::before {
 /* position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  background-color: #4AA3A2;*/
  /*clip-path: polygon(0 0, 100% 0%, 100% 69%, 0% 100%);*/
  /*border-radius: 0% 100% 100% 0% / 0% 0% 100% 100% ;*/
  /* clip-path: polygon(0 0, 100% 1%, 100% 100%, 75% 86%, 25% 86%, 0 100%); */
}

.dark .sidebar {
  background-color: var(--dark-sidebar-bg-color);
}

.actions {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 1.5rem;
}

/* icons */

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}

.dark .circle {
  background-color: var(--dark-circle-color);
}

.circle-plain {
  background-color: var(--circle-color-plain);
}

.dark .circle-plain {
  background-color: var(--dark-circle-color-plain);
}